@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

@theme {
  /* Primary */
  --color-Primary-headings: hsl(208, 49%, 24%);
  --color-Primary-paragraphs: hsl(207, 13%, 34%);

  /* Accent */
  --color-Accent-button-text: hsl(356, 100%, 66%);

  /* Action */
  --color-Action-hover: hsl(355, 100%, 74%);

  /* Menu */
  --color-Menu-text: hsl(207, 13%, 34%);

  /* Footer */
  --color-Footer-title: #fff;
  --color-Footer-link: hsl(240, 2%, 79%);
  --color-Footer-background: hsl(240, 10%, 16%);

  /* Gradient */
  --color-Gradient-Header-from: hsl(13, 100%, 72%);
  --color-Gradient-Header-to: hsl(353, 100%, 62%);

  --color-Gradient-Body-from: hsl(237, 17%, 21%);
  --color-Gradient-Body-to: hsl(237, 23%, 32%);

  /* FONTS */

  /* Primary Font (Overpass) */
  --font-primary: "Overpass";
  --font-weight-light: 300;
  --font-weight-semibold: 600;

  /* Footer Font (Ubuntu) */
  --font-footer: "Ubuntu";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Borders */
  --radius-5xl: 5rem;
}
