@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

@theme {
  /* Primary */
  --color-Primary-Light-red-CTA-text: hsl(356, 100%, 66%);
  --color-Primary-Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --color-Primary-Very-dark-blue-headings: hsl(208, 49%, 24%);

  /* Neutral */
  --color-Neutral-White-text: hsl(0, 0%, 100%);
  --color-Neutral-Grayish-blue-footer-text: hsl(240, 2%, 79%);
  --color-Neutral-Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --color-Neutral-Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* Gradient */
  --color-Gradient-Header-Very-light-red: hsl(13, 100%, 72%);
  --color-Gradient-Header-Light-red: hsl(353, 100%, 62%);

  --color-Gradient-Body-Very-dark-gray-blue: hsl(237, 17%, 21%);
  --color-Gradient-Body-Very-dark-desaturated-blue: hsl(237, 23%, 32%);

  /* FONTS */

  /* Primary Font (Overpass) */
  --font-primary: "Overpass";
  --font-weight-light: 300;
  --font-weight-semibold: 600;

  /* Footer Font (Ubuntu) */
  --font-footer: "Ubuntu";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
