---
import HamburgerMenu from "./HeaderComponents/HamburgerMenu";
import Button from "./Button";
---

<header
  class="flex flex-col justify-center text-white gap-20 pt-5 px-8 pb-32 rounded-bl-7xl bg-no-repeat bg-center bg-cover"
>
  <HamburgerMenu client:visible />
  <div class="flex flex-col items-center justify-center gap-10">
    <div class="flex flex-col text-center gap-4">
      <h1 class="font-semibold text-3xl px-6 md:text-[2.6rem]">
        A modern publishing platform
      </h1>
      <p class="font-light px-10 md:text-[1.2rem]">
        Grow your audience and build your online brand
      </p>
    </div>
    <div class="flex items-center gap-5 font-semibold">
      <Button
        colorStyles="text-Accent-button-text bg-white hover:bg-Action-hover hover:border-Action-hover hover:text-white"
        text="Start for Free"
      />
      <Button
        colorStyles="bg-transparent hover:bg-white hover:text-Action-hover "
        text="Learn More"
      />
    </div>
  </div>
</header>

<style>
  header {
    background-image: url(/bg-images/bg-pattern-intro-mobile.svg),
      linear-gradient(
        to bottom,
        var(--color-Gradient-Header-from),
        var(--color-Gradient-Header-to)
      );
    background-size: 330%;
    background-position:
      -290px -200px,
      center;
  }

  /* Tablet styles */
  @media screen and (min-width: 768px) {
    header {
      background-image: url(/bg-images/bg-pattern-intro-mobile.svg),
        linear-gradient(
          to right,
          var(--color-Gradient-Header-from),
          var(--color-Gradient-Header-to)
        );
      background-size: 240%;
      background-position:
        -293px -700px,
        center;
    }
  }

  /* Desktop styles */
  @media screen and (min-width: 1280px) {
    header {
      background-image: url(/bg-images/bg-pattern-intro-desktop.svg),
        linear-gradient(
          to right,
          var(--color-Gradient-Header-from),
          var(--color-Gradient-Header-to)
        );
      background-size: 240%;
      background-position:
        -293px -700px,
        center;
    }
  }
</style>
